<div class="header__container">
  <div class="header__container__left">
    <div class="header__container__left__hamburger" (click)="toggleMenu()">
      <div class="header__container__left__hamburger__bar"></div>
      <div class="header__container__left__hamburger__bar"></div>
      <div class="header__container__left__hamburger__bar"></div>
    </div>
    <!-- <h1 class="header__container__left__logo">Sports Analytics with AI</h1> -->
  </div>
  <div class="header__container__right">
    <button
      class="header__container__right__theme-toggle"
      (click)="toggleTheme()"
    >
      Dark Mode
    </button>
    <app-avatar (avatarMenuToggle)="toggleAvatarMenu()"></app-avatar>
  </div>
  <nav class="header__container__mobile-menu" *ngIf="menuOpen">
    <ul class="header__container__mobile-menu__list">
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Home</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/dashboard"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Dashboard</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/teams"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Teams</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/statistics"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Statistics</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/settings"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Settings</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/survey"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Survey</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/canvas"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Canvas</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/blog"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Blog</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/calculator"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Calculator</a
        >
      </li>
      <li class="header__container__mobile-menu__list__item">
        <a
          class="header__container__mobile-menu__list__item__link"
          routerLink="/dynamic-layout"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Dynamic Layout</a
        >
      </li>
    </ul>
  </nav>
</div>
