.landing__container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    padding: 2rem;
    &__title {
      font-family: "Poppins","Arial Black",Arial,sans-serif;
      font-size: 4rem;
      color: var(--color-primary);
    }
    &__subtitle {
      font-size: 1.25rem;
      color: var(--color-text);
    }
  }
  