<div class="landing__container">
  <h1 class="landing__container__title">Welcome to Sports Analytics with AI</h1>
  <p class="landing__container__subtitle">
    Unlock the power of sports data like never before.
  </p>
  <h1>My todos</h1>
  <button (click)="createTodo()">+ new</button>
  <ul>
    <li *ngFor="let todo of todos">
      <!-- {{ todo.content }} -->
    </li>
  </ul>
  <div>
    🥳 App successfully hosted. Try creating a new todo.
    <br />
    <a href="https://docs.amplify.aws/gen2/start/quickstart/">
      Review next steps of this tutorial.
    </a>
  </div>
</div>
<div class="landing__container">
  <h1 class="landing__container__title">MORE INFORMATION</h1>
  <p class="landing__container__subtitle">
    Unlock the power of sports data like never before.
  </p>
  <div>
    🥳
    <br />
    <a href="https://docs.amplify.aws/gen2/start/quickstart/"> OMG </a>
  </div>
</div>
