<div class="about">
  <!-- Hero Section -->
  <section class="about__hero">
    <div class="about__hero__content">
      <h1>About Me</h1>
    </div>
  </section>

  <!-- Story Content Section -->
  <section class="about__content">
    <div class="about__text">
      <h1>Hi I'm John.</h1><p>I'm a frontend wizard with over <strong>7 years</strong> of crushing it in the tech game, right here in the heart of Los Angeles, CA. 🌴💻</p>
      <p>When I'm not coding pixel-perfect UIs or optimizing web apps for maximum speed, you'll find me kickin' it with my true passion – <strong>slinging betting predictions</strong> on my favorite sports teams! ⚽🏀🏈</p>
      <p>I'm all about that thrill of predicting wins and losses, and guess what? I've even started leveraging AI to gather killer betting insights 🤖📊. The blend of cutting-edge tech and sports betting is where my heart truly lies – it's like mixing innovation with adrenaline! 🚀🔥</p>
      <p>From brainstorming dynamic layouts to predicting the next big upset, I live for that sweet intersection of code and competition. So, whether it's frontend magic or AI-powered betting predictions, I'm always on the grind to push boundaries and break new ground. Let's ride this wave together! 😎🤘</p>
    </div>
    <div class="about__image">
      <img src="../../assets/about-me.png" alt="About John Yu" />
    </div>
  </section>
</div>
