.app__container {
  display: grid;
  grid-template-areas:
    "app__container__header app__container__header app__container__header"
    "app__container__nav app__container__main app__container__aside"
    "app__container__footer app__container__footer app__container__footer";
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 1rem;
  padding: 1rem;
  background: url(../assets/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 40rem) {
  .app__container {
    grid-template-areas:
      "app__container__header"
      "app__container__main"
      "app__container__footer";
    grid-template-columns: 1fr;
  }
}

@media (min-width: 40rem) and (max-width: 64rem) {
  .app__container {
    grid-template-areas:
      "app__container__header app__container__header"
      "app__container__nav app__container__main"
      "app__container__footer app__container__footer";
    grid-template-columns: 15rem 1fr;
  }
}

.app__container__header {
  grid-area: app__container__header;
}
.app__container__nav {
  grid-area: app__container__nav;
}
.app__container__main {
  grid-area: app__container__main;
}
.app__container__aside {
  grid-area: app__container__aside;
}
.app__container__footer {
  grid-area: app__container__footer;
  text-align: center;
}
