.app__container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer";
  grid-template-columns: 15rem 1fr 15rem;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 1rem;
  // padding: 1rem;
  background-image: url(../assets/mid-section.png);
  background-color: hsla(0,0%,10%,1);
}

@media (max-width: 40rem) {
  .app__container {
    grid-template-areas:
    "header header header"
    "main    main   main"
    "footer footer footer";
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (min-width: 40rem) and (max-width: 64rem) {
  .app__container {
    grid-template-areas:
    "header header header"
    "main    main   main"
    "footer footer footer";
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.app__container__header {
  grid-area: header;
}
.app__container__nav {
  box-shadow: (0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  grid-area: nav;
}
.app__container__main {
  grid-area: main;
}
.app__container__aside {
  box-shadow: (0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  grid-area: aside;
}
.app__container__footer {
  grid-area: footer;
  text-align: center;
}
