.teams__container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 1.25rem;
  &__title {
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--color-primary);
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
  }
  &__grid__card {
    border: 2px dotted gray;
    // border: 0.125rem solid var(--color-primary);
    // border: 0.125rem solid var(--color-primary);
    padding: 1.25rem;
    border-radius: 0.5rem;
    background: var(--color-secondary);
    text-align: center;
    border-radius: 12px;
    cursor: move;
    &__title {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
    }
    &__record {
      font-size: 0.875rem;
      margin-top: 0.625rem;
    }
  }
}
