.dashboard__container {
  padding: 2rem;
  background-color: #0d121c;
  border: 1px solid rgb(44, 52, 55);
  font-family: sans-serif;

  .dashboard__header {
    text-align: center;
    margin-bottom: 1.5rem;
    h1 {
      font-size: 2.5rem;
      font-weight: 50;
      color: #fff;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 50;
      color: #fff;
    }
  }

  .dashboard__filter-toolbar {
    background-color: #0d121c;
    border: 1px solid rgb(44, 52, 55);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    gap: 1rem;
    .filter-toolbar__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
    }
    .filter-option {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      color: #fff;
      padding: 0.5rem 0.75rem;
      background-color: #0d121c;
      border: 1px solid rgb(44, 52, 55);
      border-radius: 0.375rem;
      transition: background-color 0.3s;
      cursor: pointer;
      input {
        margin-right: 0.5rem;
        accent-color: #ff9800;
      }
      &:hover {
        background-color: rgb(44, 52, 55);
      }
    }
  }

  .dashboard__metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}

// .dashboard__filter-toolbar {
//   border: 10px solid red;
// }

.metric-card {
  background-color: #0d121c;
  border: 1px solid rgb(44, 52, 55);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  .metric-card__label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  .metric-card__value {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  &__mini-chart-container {
    width: 100%;
    height: 4rem;
  }
  .metric-card__mini-chart {
    width: 100%;
    height: 100%;
  }
}

.dashboard__charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  border-radius: 16px;
}

.chart-card {
  background-color: #0d121c;
  border-radius: 16px;
  border: 1px solid rgb(44, 52, 55);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  &__toolbar {
    background: #0d121c;
    border-bottom: 1px solid rgb(44, 52, 55);
    padding: 0.5rem 1rem;
    text-align: center;
    .chart-card__toolbar__title {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
    }
  }
  &__body {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .chart-card__canvas {
      width: 100%;
      height: 15rem;
    }
  }
  &__description {
    background: #0d121c;
    border-top: 1px solid rgb(44, 52, 55);
    padding: 0.75rem 1rem;
    text-align: center;
    p {
      margin: 0;
      font-size: 0.875rem;
      color: #fff;
      strong {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .dashboard__container {
    padding: 1rem;
    &__header h1 {
      font-size: 2rem;
    }
  }
}

/* Border Beam Animation */
.border-beam {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
}

.border-beam::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff, #ff0000);
  opacity: 0.1;
  background-size: 400%;
  z-index: -1;
  filter: blur(4px);
  border-radius: inherit;
  animation: borderBeam 60s linear infinite;
}

@keyframes borderBeam {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.neon-text {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}