.dashboard__container {
  background-color: #0d121c;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  padding: 1.25rem;
  &__title {
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--color-primary);
  }
  &__metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
    margin-bottom: 2rem;
    &__card {
      border: 1px solid white;
      padding: 1.25rem;
      border-radius: 0.5rem;
      background: var(--color-secondary);
      text-align: center;
      &__title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
      }
      &__value {
        font-size: 1.25rem;
        margin-top: 0.625rem;
      }
    }
  }
  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    @media (max-width: 40rem) {
      grid-template-columns: 1fr;
    }
    &__card {
      border: 0.125rem solid white;
      border-radius: 12px;
      padding: 1.25rem;
      border-radius: 0.5rem;
      background: var(--color-secondary);
      text-align: center;
      min-height: 25rem;
      &__title {
        margin-bottom: 1rem;
      }
      &__canvas {
        border: 1px solid white;
        border-radius: 12px;
        max-width: 100%;
        max-height: 200px;
      }
    }
  }
}

.dashboard__container div:hover {
  background-color: rgba(255, 255, 255, 0.02);
}