.dashboard__container {
  padding: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  &__title {
    text-align: center;
    margin-bottom: 1.25rem;
    color: var(--color-primary);
  }
  &__metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
    margin-bottom: 2rem;
    &__card {
      border: 0.125rem solid var(--color-primary);
      padding: 1.25rem;
      border-radius: 0.5rem;
      background: var(--color-secondary);
      text-align: center;
      &__title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
      }
      &__value {
        font-size: 1.25rem;
        margin-top: 0.625rem;
      }
    }
  }
  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    @media (max-width: 40rem) {
      grid-template-columns: 1fr;
    }
    &__card {
      border: 0.125rem solid var(--color-primary);
      padding: 1.25rem;
      border-radius: 0.5rem;
      background: var(--color-secondary);
      text-align: center;
      min-height: 25rem;
      &__title {
        margin-bottom: 1rem;
      }
      &__canvas {
        border: 10px solid red;
        max-width: 100%;
        max-height: 200px;
      }
    }
  }
}
